In [14]:
import pandas as pd

real_df = pd.read_csv('../datasets/Amazon.csv')
df = real_df.copy()
df.head()

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411

In [15]:
df.dtypes

OrderID           object
OrderDate         object
CustomerID        object
CustomerName      object
ProductID         object
ProductName       object
Category          object
Brand             object
Quantity           int64
UnitPrice        float64
Discount         float64
Tax              float64
ShippingCost     float64
TotalAmount      float64
PaymentMethod     object
OrderStatus       object
City              object
State             object
Country           object
SellerID          object
dtype: object

In [16]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Quantity,100000.0,3.001400,1.413548,1.00,2.00,3.000,4.000,5.00
UnitPrice,100000.0,302.905748,171.840797,5.00,154.19,303.070,451.500,599.99
Discount,100000.0,0.074226,0.082583,0.00,0.00,0.050,0.100,0.30
Tax,100000.0,68.468902,74.131180,0.00,15.92,45.250,96.060,538.46
ShippingCost,100000.0,7.406660,4.324057,0.00,3.68,7.300,11.150,15.00
TotalAmount,100000.0,918.256479,724.508332,4.27,340.89,714.315,1349.765,3534.98

In [17]:
df.describe(include="object").transpose()

                count  unique            top   freq
OrderID        100000  100000     ORD0099961      1
OrderDate      100000    1825     2022-04-28     85
CustomerID     100000   43233     CUST037103     10
CustomerName   100000     200    Karan Joshi    556
ProductID      100000      50         P00019   2098
ProductName    100000      50  LED Desk Lamp   2098
Category       100000       6    Electronics  16853
Brand          100000      10       ReadMore  10204
PaymentMethod  100000       6    Credit Card  35038
OrderStatus    100000       5      Delivered  74628
City           100000      20      Charlotte   5110
State          100000      13             TX  24896
Country        100000       5  United States  70058
SellerID       100000    1999      SELL01099     78

In [18]:
df.isnull().sum()

OrderID          0
OrderDate        0
CustomerID       0
CustomerName     0
ProductID        0
ProductName      0
Category         0
Brand            0
Quantity         0
UnitPrice        0
Discount         0
Tax              0
ShippingCost     0
TotalAmount      0
PaymentMethod    0
OrderStatus      0
City             0
State            0
Country          0
SellerID         0
dtype: int64

In [19]:
df.duplicated().sum()

np.int64(0)

In [20]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])

In [21]:
cols_to_category = [
    'Category',
    'Brand',
    'PaymentMethod',
    'OrderStatus',
    'City',
    'State',
    'Country',
    'SellerID'
]
df[cols_to_category] = df[cols_to_category].astype('category')

In [22]:
df.dtypes

OrderID                  object
OrderDate        datetime64[ns]
CustomerID               object
CustomerName             object
ProductID                object
ProductName              object
Category               category
Brand                  category
Quantity                  int64
UnitPrice               float64
Discount                float64
Tax                     float64
ShippingCost            float64
TotalAmount             float64
PaymentMethod          category
OrderStatus            category
City                   category
State                  category
Country                category
SellerID               category
dtype: object

In [23]:
cols_to_drop = [
    'OrderID',        # ID unik
    'CustomerName',   # non-informatif
    'ProductID',      # redundant
]
df = df.drop(columns=cols_to_drop)

In [24]:
df.head()

,OrderDate,CustomerID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,2023-01-31,CUST001504,Drone Mini,Books,BrightLux,3,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,2023-12-30,CUST000178,Microphone,Home & Kitchen,UrbanStyle,1,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,2022-05-10,CUST047516,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,2023-07-18,CUST030059,Webcam Full HD,Home & Kitchen,Zenith,5,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,2023-02-04,CUST048677,T-Shirt,Clothing,KiddoFun,2,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411

In [25]:
df['CustomerID'], _ = pd.factorize(df['CustomerID'])
df['SellerID'], _ = pd.factorize(df['SellerID'])

In [26]:
df.to_csv('../datasets/01_amazon_cleaned.csv', index=False, sep=';')